
{% extends "main.html" %}
{% load static %}
{% block styles %}
<!-- Page JS Plugins CSS -->
<link rel="stylesheet" href="{% static '/js/plugins/datatables-bs5/css/dataTables.bootstrap5.min.css'%}">
<link rel="stylesheet" href="{% static '/js/plugins/datatables-buttons-bs5/css/buttons.bootstrap5.min.css'%}">
<link rel="stylesheet" href="{% static '/js/plugins/datatables-responsive-bs5/css/responsive.bootstrap5.min.css'%}">
{% endblock styles %}
{% block content %}
<div class="content">
    <div class="row">
      <!-- Row #1 -->
      <div class="col-6 col-xl-3">
        <a class="block block-rounded block-link-shadow text-end" href="javascript:void(0)">
          <div class="block-content block-content-full d-sm-flex justify-content-between align-items-center">
            <div class="d-none d-sm-block">
              <i class="fa fa-user-group fa-2x opacity-25"></i>
            </div>
            <div>
              <div class="fs-3 fw-semibold" id="totalAssessment"></div>
              <div class="fs-sm fw-semibold text-uppercase text-muted">Ben: Assesed</div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-6 col-xl-3">
        <a class="block block-rounded block-link-shadow text-end" href="javascript:void(0)">
          <div class="block-content block-content-full d-sm-flex justify-content-between align-items-center">
            <div class="d-none d-sm-block">
              <i class="fa fa-user-group fa-2x opacity-25"></i>
            </div>
            <div>
              <div class="fs-3 fw-semibold" id="total_tpm"></div>
              <div class="fs-sm fw-semibold text-uppercase text-muted">Ben: spot-check</div>
            </div>
          </div>
        </a>
      </div>
      
      <div class="col-6 col-xl-3">
        <a class="block block-rounded block-link-shadow text-end" href="javascript:void(0)">
          <div class="block-content block-content-full d-sm-flex justify-content-between align-items-center">
            <div class="d-none d-sm-block">
              <i class="fa fa-circle-exclamation fa-2x opacity-25"></i>
            </div>
            <div>
              <div class="fs-3 fw-semibold" id="inclusion_error_percent_avg"></div>
              <div class="fs-sm fw-semibold text-uppercase text-danger">Inclusion Error</div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-6 col-xl-3">
        <a class="block block-rounded block-link-shadow text-end" href="javascript:void(0)">
          <div class="block-content block-content-full d-sm-flex justify-content-between align-items-center">
            <div class="d-none d-sm-block">
              <i class="fa fa-map-pin fa-2x opacity-25"></i>
            </div>
            <div>
              <div class="fs-3 fw-semibold" id="totaldistrict"></div>
              <div class="fs-sm fw-semibold text-uppercase text-muted">District Assessed</div>
            </div>
          </div>
        </a>
      </div>
      <!-- END Row #1 -->
    </div>
    <div class="row">
      <!-- Row #2 -->
      <div class="col-md-12">
        <div class="card push">
          <div class="card-header border-bottom-0">
            <h3 class="block-title">
              Total Summary <small>Table</small>
            </h3>
          </div>
          <div class="card-body">
            <table id="summaryTable" class="display table table-bordered table-striped table-vcenter js-dataTable-full dataTable table-sm" style="width:100%">
              <thead>
                  <tr>
                      <th>AO</th>
                      <th>Province</th>
                      <th>District</th>
                      <th>Area</th>
                      <th>Nahia</th>
                      <th>Total CP</th>
                      <th>CP Selected</th>
                      <th>Samples</th>
                      <th>Total SC</th>
                      <th>Inclusion Error</th>
                      <th>Total EE</th>
                      <th>Exlusion Error</th>
                  </tr>
              </thead>
              <tbody>
              </tbody>
          </table>
          </div>
        </div>
      </div>
      
      <!-- END Row #2 -->
    </div>
   
  </div>
  

{% endblock content %}

{% block scripts %}
  <script src="{%static '/js/plugins/datatables/dataTables.min.js'%}"></script>
  <script src="{%static '/js/plugins/datatables-bs5/js/dataTables.bootstrap5.min.js'%}"></script>
  <script src="{%static '/js/plugins/datatables-responsive/js/dataTables.responsive.min.js'%}"></script>
  <script src="{%static '/js/plugins/datatables-responsive-bs5/js/responsive.bootstrap5.min.js'%}"></script>
  <script src="{%static '/js/plugins/datatables-buttons/dataTables.buttons.min.js'%}"></script>
  <script src="{%static '/js/plugins/datatables-buttons-bs5/js/buttons.bootstrap5.min.js'%}"></script>
  <script src="{%static '/js/plugins/datatables-buttons-jszip/jszip.min.js'%}"></script>
  <script src="{%static '/js/plugins/datatables-buttons-pdfmake/pdfmake.min.js'%}"></script>
  <script src="{%static '/js/plugins/datatables-buttons-pdfmake/vfs_fonts.js'%}"></script>
  <script src="{%static '/js/plugins/datatables-buttons/buttons.print.min.js'%}"></script>
  <script src="{%static '/js/plugins/datatables-buttons/buttons.html5.min.js'%}"></script>
  <script>
    $(document).ready(function () {
        // Fetch data from the Django endpoint
        $.ajax({
            url: '/summary_view/',
            method: 'GET',
            dataType: 'json',
            success: function (data) {
                // Populate DataTable with the data
                $('#summaryTable').DataTable({
                  data: data.counts, // Assign the JSON data to the DataTable
                  columns: [
                      { data: 'cp_id__SB_ao' },
                      { data: 'cp_id__SB_province' },
                      { data: 'cp_id__SB_district' },
                      { data: 'cp_id__SB_area' },
                      { data: 'cp_id__SB_nahia', defaultContent: 'N/A' }, // Handle nulls in SB_nahia
                      { data: 'cp_count.cp_count', defaultContent: 'N/A', },  // Access cp_count from nested object
                      { data: 'cp_count.cp_selected', defaultContent: 'N/A', },  // Access cp_selected from nested object
                      { data: 'sample_count' },
                      { data: 'total_tpm' },
                      { data: 'inclusion_error_percent', render: function (data, type, row) {
                          return data ? data.toFixed(2) + '%' : 'N/A';
                      }},  // Custom rendering for inclusion_error_percent
                      { data: 'total_ee_count' },
                      { data: 'exclusion_error', render: function (data, type, row) {
                          return data ? data.toFixed(2) + '%' : 'N/A';
                      }}  // Custom rendering for exclusion_error
                  ],
                  dom: 'Bfrtip', // Enables export buttons
                  buttons: [
                      'copy', 'csv', 'excel', 'pdf', 'print' // Add export buttons
                  ]
              });

              totalAssessment = data.counts.reduce(function(total, current) {
                  return total + current.cp_count.cp_count
              }, 0);

              $('#totalAssessment').text(totalAssessment);
              total_tpm = data.counts.reduce(function(total, current) {
                  return total + current.total_tpm
              }, 0);

              $('#total_tpm').text(total_tpm);

              // Average inclusion error
              var inclusion_error_percent_sum = data.counts.reduce(function(total, current) {
                  return total + current.inclusion_error_percent
                  }, 0);
              
              // count inclusion errors
              var inclusion_error_count = data.counts.reduce(function(total, current) {
                  if (current.inclusion_error_percent) {
                    return total + 1
                  }else{
                    return total
                  }
                  }, 0);

              var inclusion_error_percent_avg = inclusion_error_percent_sum / inclusion_error_count;
            $('#inclusion_error_percent_avg').text(inclusion_error_percent_avg.toFixed(2) + '%');

            totaldistrict = data.counts.length;
            $('#totaldistrict').text(totaldistrict);

            },
            error: function (error) {
                console.error('Error fetching data', error);
            }
        });
    });
</script>
{% endblock scripts%}
