
{% extends "main.html" %}
{% block content %}
<div class="content">
  <div class="content">
    <div class="block block-rounded">
      <ul class="nav nav-tabs nav-tabs-alt" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="btabs-alt-static-planVsActualReason-tab" data-bs-toggle="tab" data-bs-target="#btabs-alt-static-planVsActualReason" role="tab" aria-controls="btabs-alt-static-planVsActualReason" aria-selected="true" tabindex="-1">Import CP Data </button>
        </li>
        
        <li class="nav-item" role="presentation">
          <button class="nav-link " id="btabs-alt-static-InactivateFDPs-tab" data-bs-toggle="tab" data-bs-target="#btabs-alt-static-InactivateFDPs" role="tab" aria-controls="btabs-alt-static-InactivateFDPs" aria-selected="false">Import TPM Data</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link " id="btabs-alt-static-planVsActualReason1-tab" data-bs-toggle="tab" data-bs-target="#btabs-alt-static-planVsActualReason1" role="tab" aria-controls="btabs-alt-static-planVsActualReason1" aria-selected="false" tabindex="-1">Import to Update CP Data </button>
        </li>
        
        <li class="nav-item" role="presentation">
          <button class="nav-link " id="btabs-alt-static-InactivateFDPs1-tab" data-bs-toggle="tab" data-bs-target="#btabs-alt-static-InactivateFDPs1" role="tab" aria-controls="btabs-alt-static-InactivateFDPs1" aria-selected="false">Import to Update TPM Data</button>
        </li>
      </ul>
      <div class="block-content tab-content">
        <div class="tab-pane active show" id="btabs-alt-static-planVsActualReason" role="tabpanel" aria-labelledby="btabs-alt-static-planVsActualReason-tab" tabindex="0">
          <div class="block-content">
            


            <form class="row row-cols-auto g-3 align-items-center" method="post" enctype="multipart/form-data" action="{% url 'csv_import' %}" >
              {% csrf_token %}
              <input type="hidden" name="data_type" value="cp_data_non_ie">

              <div class="mb-6">

                <input type="file" name="csv_file" class="form-control" required accept=".csv" id="id_file">

              </div>
              <div class="mb-6">

              <button class="btn btn-success btn-block" type="submit"><i class="fa fa-fw fa-check opacity-50"></i>Import</button>
              </div>
          </form>
          </div>
          
        </div>
        
        <div class="tab-pane  " id="btabs-alt-static-InactivateFDPs" role="tabpanel" aria-labelledby="btabs-alt-static-InactivateFDPs-tab" tabindex="0">
          <div class="block-content">
            
           

            <form class="row row-cols-auto g-3 align-items-center" method="post" enctype="multipart/form-data" action="{% url 'import_tpm_csv' %}">
              {% csrf_token %}
              <input type="hidden" name="data_type" value="tpm_data">



              <div class="mb-6">

                <input type="file" name="csv_file" class="form-control" required accept=".csv" id="id_file">

              </div>
              <div class="mb-6">

              <button class="btn btn-success btn-block" type="submit"><i class="fa fa-fw fa-check opacity-50"></i>Import</button>
              </div>
          </form>
          </div>
         
        </div>
        <div class="tab-pane " id="btabs-alt-static-planVsActualReason1" role="tabpanel" aria-labelledby="btabs-alt-static-planVsActualReason1-tab" tabindex="0">
          <div class="block-content">
            


            <form class="row row-cols-auto g-3 align-items-center" method="POST" enctype="multipart/form-data" action="{% url 'csv_import' %}" >
              {% csrf_token %}
              <input type="hidden" name="_method" value="PUT">
              <input type="hidden" name="data_type" value="cp_data_non_ie">

              <div class="mb-6">

                <input type="file" name="csv_file" class="form-control" required accept=".csv" id="id_file">

              </div>
              <div class="mb-6">

              <button class="btn btn-secondary btn-block" type="submit"><i class="fa fa-fw fa-edit opacity-50"></i>Update</button>
              </div>
          </form>
          </div>
          
        </div>
        
        <div class="tab-pane  " id="btabs-alt-static-InactivateFDPs1" role="tabpanel" aria-labelledby="btabs-alt-static-InactivateFDPs1-tab" tabindex="0">
          <div class="block-content">
            
           

            <form class="row row-cols-auto g-3 align-items-center" method="POST" enctype="multipart/form-data" action="{% url 'import_tpm_csv' %}">
              {% csrf_token %}
              <input type="hidden" name="data_type" value="tpm_data">
              <input type="hidden" name="_method" value="PUT">



              <div class="mb-6">

                <input type="file" name="csv_file" class="form-control" required accept=".csv" id="id_file">

              </div>
              <div class="mb-6">

              <button class="btn btn-secondary btn-block" type="submit"><i class="fa fa-fw fa-edit opacity-50"></i>Update</button>
              </div>
          </form>
          </div>
         
        </div>
        
      </div>
    </div>
  </div>
</div>

{% endblock content %}