

{% extends "main.html" %}
{% block content %}
<div class="content">
    <div class="block block-rounded">
        <div class="block-content block-content-full">
          <div class="py-3 text-center">
            <h1 class="h3 fw-extrabold mb-1">
                Compare Two Excel Documents
            </h1>
            <h2 class="fs-sm fw-medium text-muted mb-0">
             Compare documents to find the differences between them.
            </h2>
          </div>
        </div>
      </div>
      <div class="block block-rounded">
        <div class="block-content block-content-full">
          <div class="py-3 text-left">
            <div class="container">
                
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input class="btn btn-primary" type="submit"  value="Compare">
                </form>
            </div>
           
            
          </div>
        </div>
      </div>
        
</div>
{% endblock content %}
