{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <title>Targeting App WFP Afghanistan</title>

    <!-- Icons -->
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="https://cdn.wfp.org/apple-touch-icon-152x152-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://cdn.wfp.org/apple-touch-icon-144x144-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="https://cdn.wfp.org/apple-touch-icon-120x120-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="https://cdn.wfp.org/apple-touch-icon-114x114-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="https://cdn.wfp.org/apple-touch-icon-76x76-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="https://cdn.wfp.org/apple-touch-icon-72x72-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" href="https://cdn.wfp.org/apple-touch-icon-precomposed.png" />
    <link rel="shortcut icon" href="https://cdn.wfp.org/favicon.ico" />
    <!-- END Icons -->

    <link rel="stylesheet" id="css-main" href="{% static 'css/codebase.min.css' %}">
    

  </head>